body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.move-container {
	font-family: monospace;
	text-align: left;
	max-width: 440px;
	padding: 61px 4px;
}
.move-item-emoji {
	font-size: 22px;
	vertical-align: middle;
	text-shadow: 0px 0px 2px #aaa;
}

.move-item-body-grid {
	display: flex;
	justify-content: space-between;

}

.board-tile {
	width: 120px;
	height: 130px;
	margin-top: 10px;
	box-shadow: 0px 1px 5px #888;
}

.board-tile .emoji-container {
	display:flex;
	justify-content: center;
	align-items: center;

	font-size:80px;
	border-radius: 6px;
}

.badge {
	font-size: 16px !important;
	background-color: #999 !important;
}
.board-tile .header {
	color: #fff;
	font-family: sans-serif;
	display:flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
	text-transform: uppercase;
	font-weight: bold;    
	font-size: 12px;
}
table.table {
	margin-bottom: 10px !important;
}